/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none }


section.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 60px;
}
.section-title h2 {
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    margin-bottom: 25px;
    font-weight: bold;
}

.section-title h2::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 65px;
    height: 4px;
    background: #ebebeb none repeat scroll 0 0;
    content: "";
}

.section-title h2::after {
    bottom: 0;
    left: 0;
    height: 4px;
    width: 50px;
    content: "";
    background: #14adf3 none repeat scroll 0 0;
    position: absolute;
}
body {
    color: #9a9a9a;
    font-size: 15px;
    line-height: 1.7;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
}
.owl-carousel .owl-item .single-staff-item img {
    border-radius: 50%;
    max-width: 160px;
    width: 160px;
}
.single-staff-item {
    color: #6f6f6f;
}
.staff-meta {
    color: #a4a4a4;
    font-size: 12px;
    margin-top: 35px;
}
.staff-meta h3 {
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: uppercase;
}



.staff-list .owl-nav div {
    background: #f3f3f3 none repeat scroll 0 0;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 50px;
}
.staff-list .owl-nav div:hover {
    background-color: #14adf3;
    color: #fff;
}
.staff-list .owl-nav {
    position: absolute;
    right: 0;
    top: -60px;
}
