/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }


.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 60px;
    text-align: center;
}

.section-title p, .single-service-icon p {
    color: #666666;
}

.section-title h2 {
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.section-title h2::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 2px;
    background: #ff8f17 none repeat scroll 0 0;
    content: "";
    margin-left: -30px;
}

.section-title h2::after {
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 20px;
    margin-left: -10px;
    content: "";
    background: #222222 none repeat scroll 0 0;
    position: absolute;
}

.single-service-icon {
    text-align: center;
    display: block;
    color: #333;
    min-height: 240px;
    margin-bottom: 30px;
}

.single-service-icon h3 {
    margin: 20px 0;
    font-size: 22px;
}

.service-icon-container {
    display: table;
    width: 100%;
    height: 80px;
    color: #fedb77;
    font-size: 65px;
}

.service-icon-tablecell {
    display: table-cell;
    vertical-align: middle;
}
